body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/*------------------------ Admin login ------------------------*/

.email {
  width: 65%;
  height: 45px;
  color: #c4c4c4;
}
.login-bg {
  background-image: url("../src/assests/login.png");
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
}
.login-octo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 10%;
  width: 100%;
  color: #fff;
}
.btn-one {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
  margin-bottom: 25px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 380px;
  background-color: rgb(255, 255, 255);
  font-size: 36px;
  color: #555555;
  border-radius: 10px;
  padding-top: 30px;
  border: 1px solid #c4c4c4;
}

.login-box-center {
  display: flex !important;
  justify-content: center !important;
  margin-top: 15%;
}
.submit {
  width: 75%;
  height: 35px;
  font-size: 14px;
  background-color: #8c84d7;
  color: #fff;
  margin-top: 80px;
  line-height: 30px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}
.eye {
  font-size: 18px;
  top: 5px;
  right: 5px;
  position: absolute;
  color: #c4c4c4;
  cursor: pointer;
}
.password {
  position: relative;
}
.login-btn {
  background-color: #8b84d7 !important;
  font-style: normal;
  font-size: 16px;
  color: #ffffff !important;
  border: none !important;
  text-decoration: none;
}
/*------------------------ Forgot password ------------------------*/
.forgot {
  font-size: 12px;
  color: #000;
  padding-top: 5px;
}
.forgot a {
  color: #000;
}
.new-user {
  font-size: 12px;
  text-align: center;

  color: #000;
}
.login-content {
  margin-top: 15%;
  width: 90%;
}
.welcome {
  font-weight: 600;
  font-size: 36px;
}
.lorem {
  font-size: 14px;
}
.text-danger {
  font-size: 12px;
}
.fg-password {
  font-size: 14px;
}

/*------------------------ Mail confirmation ------------------------*/

.tick {
  position: absolute;
  margin-top: 5px;
}
.circle img {
  width: 70px;
}
.Confirmation {
  font-weight: 500;
  font-size: 36px;
}
.emailed {
  font-weight: 500;
  font-size: 14px;
}
.logged {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 231px;
  background-color: rgb(255, 255, 255);
  font-size: 36px;
  color: #555555;
  border-radius: 10px;
  padding-top: 30px;
  border: 1px solid #c4c4c4;
  margin-top: 30px;
  margin-left: 20px;
}

/*------------------------ Set new password ------------------------*/

.new-password {
  font-size: 14px;
  font-weight: 500;
}
.set-password {
  margin-bottom: 2px;
}
.logged-reset {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 300px;
  background-color: rgb(255, 255, 255);
  font-size: 36px;
  color: #555555;
  border-radius: 10px;
  padding-top: 30px;
  border: 1px solid #c4c4c4;
  margin-top: 30px;
  margin-left: 20px;
}
.back-to-login {
  background-color: #8b84d7 !important;
  font-style: normal;
  font-size: 16px;
  color: #ffffff !important;
  border: none !important;
  text-decoration: none;
  width: 60%;
}

/*------------------------ Create account ------------------------*/

.account-box-center {
  display: flex !important;
  justify-content: center !important;
  margin-top: 2%;
}
.log-reset {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 590px;
  background-color: rgb(255, 255, 255);
  color: #555555;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
}
.retailStore-text {
  font-size: 18px !important;
  color: #b0b0b0;
  width: 100%;
}
.icon-box {
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.remove-txt {
  margin-left: 10px;
  text-decoration: underline;
  cursor: pointer;
  color: #8c84d7;
}
.create-content {
  width: 70%;
}
.account-text {
  font-size: 36px;
  font-weight: 500;
}
.Next {
  background-color: #8b84d7 !important;
  font-style: normal;
  font-size: 16px;
  color: #ffffff !important;
  border: none !important;
  text-decoration: none;
  width: 70%;
}
.cursor-pointer {
  cursor: pointer;
  margin-left: 30%;
}
.inline-text {
  font-size: 10px;
}
